{% extends "base.html" %}

{% block title %}Patient Panel - Virtual Clinic Auth{% endblock %}

{% block content %}
<h1 class="h3">Patient Panel</h1>
<p>This page is visible for users with the PATIENT role</p>
<h3>Your notes</h3>
{% for note in notes %}
<div class="card mb-2">
    <div class="card-body">
        <p>Patient: {{ note.patient_name }}</p>
        <p>Posted: {{ note.created_at }}</p>
        <p>Author: {{ note.author_name }}</p>
        <p>Note:</p>
        <p> {{ note.note }} </p>
    </div>
</div>
{% endfor %}
{% endblock %}
